@keyframes animatesvg {
    to{
        transform: translate(-50%,-20%);
    }
}

@keyframes contactimg{
    to{
        transform: translateY(-20px);
    }
}

@keyframes himage{
    to{
        transform: translateY(-6px);
    }
}