#services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    padding: 0 $p;
    background-color: $color5;
    color: $color4;
    overflow: hidden;
    padding: 16px;
    text-transform: capitalize;
   

    >h2 {
        font-weight: 400;
        font-family: $text2;
        width: fit-content;
        margin: auto;
        padding: 32px 16px;
        letter-spacing: 1px;
    }
    >section{
          display: grid;
          grid-template-columns: repeat(3 ,1fr);
          height: 100%;
          gap: 16px;
        >*{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            color: $color5;
            height: 100%;
            width: 100%;
            padding: 24px;
            transition: all 0.3s;
            overflow: hidden;

            >h1{
               font-weight: 300;
                font-size: 62px;
            }

            >p{
               font-weight: 700;
               font-size: 16px;
               letter-spacing: 1px;
               text-align: center;
            }
            >svg{
                font-size: 50px;
            }
          
            &::before{
                content: "";
                pointer-events: none;
                position: absolute;
                top: 0;
                left:-180%;
                z-index: 2;
                display: block;
                width: 50%;
                height:100%;
                background: linear-gradient(to right, white , rgba(245, 238, 233, 0.758));
                transform: skew(125deg);
                transition: all 0.5s;
            }
            
            &:hover:before {
                animation: effectShine .85s;

            }
            @keyframes effectShine {
                100% {
                    left:195%;
                }
            } 
        }
      
    }
}

.serviceItem1{
   grid-row: 1 / 3;
}

.serviceItem4{
    grid-column: 2/ 4;
 }